{% extends 'base.html.twig' %}

{% block title %}ThinkLink aplikace{% endblock %}

{% block body %}
    <h1>Vítejte v aplikaci ThinkLink!</h1>
    <p>ThinkLink je webová aplikace, která umožňuje uživatelům nahrávat a sdílet svoje poznámky na webu. Nejzajímavější součástí aplikace je automatické propojování poznámek na základě obsahové podobnosti. Tímto způsobem může uživatel objevit nové souvislosti mezi svými poznámkami a získat nové poznatky.</p>
    <ul>
        <li><a href="{{ path('app_files_upload') }}">Nahrát poznámky a soubory</a></li>
        <li><a href="{{ path('app_note_new') }}">Vytvořit novou poznámku</a></li>
        <li><a href="{{ path('app_files_index') }}">Seznam všech poznámek a souborů</a></li>
        <li><a href="{{ path('app_note_index') }}">Seznam všech poznámek</a></li>
    </ul>
{% endblock %}
