{% extends 'base.html.twig' %}

{% block title %}Obrázky{% endblock %}

{% block body %}
    <h1>Obrázky</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Název</th>
                <th>Typ</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.filename }}</td>
                <td>{{ image.mimeType }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenalezeny žádné obrázky</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_upload') }}">Nahrát nové obrázky</a>
{% endblock %}
