{% extends 'base.html.twig' %}

{% block title %}Nahrát obrázky{% endblock %}

{% block body %}
    <h1>Nahrát obrázky k poznámkám</h1>
    <p>Poznámka: název obrázku se musí shodovat s názvem, který používáte k referencování ve svých poznámkách - jinak se nepropojí.</p>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
