{% extends 'base.html.twig' %}

{% block title %}Nahrát soubory{% endblock %}

{% block body %}
    <h1>Nahrát poznámky a soubory</h1>
    <p>Poznámka: název souboru se musí shodovat s názvem, který používáte k referencování ve svých poznámkách - jinak se nepropojí.</p>
    <p>V aplikaci se provádí kontrola nebezpečných znaků v názvu souboru - pro propojení v poznámkách využijte "Referenci"</p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
