<form method="post" action="{{ path('app_note_delete', {'id': note.id}) }}" onsubmit="return confirm('Opravdu chcete odstranit tuto poznámku?')">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn">Odstranit</button>
</form>
