{% extends 'base.html.twig' %}

{% block title %}Nová poznámka{% endblock %}

{% block body %}
    <h1>Vytvořit novou poznámku</h1>

    {{ include('note/_form.html.twig') }}

    <a href="{{ path('app_note_index') }}">Zpět na seznam poznámek</a>
    <a href="{{ path('app_files_index') }}">Seznam nahraných souborů (s referenčními jmény)</a>

{% endblock %}
