{% extends 'base.html.twig' %}

{% block title %}Nová poznámka{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="mb-4 text-center">Vytvořit novou poznámku</h1>

                <div class="text-center mt-3">
                    <a href="{{ path('app_note_index') }}" class="btn btn-outline-secondary">Zpět na seznam poznámek</a>
                </div>

                {{ include('note/_form.html.twig', {'button_label': 'Uložit'}) }}

                {% if files is defined and files|length > 0 %}
                    <hr class="my-4">
                    <h2 class="h5 mb-3">Dostupné soubory</h2>
                    {{ include('files/_file_table.html.twig', {'files': files}) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
