{% extends 'base.html.twig' %}

{% block title %}Přidat nové poznámky{% endblock %}

{% block body %}
    <h1>Přidat nové poznámky</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}