{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Vytvoření nového uživatele</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Zpět na seznam</a>
{% endblock %}
